
{% extends "base.html" %}

{% block contenido  %}
<div class="bg-info">
    <h1 class="bg-secondary"> Animales exoticos</h1>

    <div class="row container">
        <div class="col-5">
        <h3>en esta pagina se hablara de una amplia variedad de animales exoticos terrestres, aereos y acuaticos, existe una gran divercidad de animales y cada uno 
            tiene su propia cualidad caracteristicas, aqui podras ver los animales en cuention:
        </h1>
        </div>
        <div class="col">
            <img class="col" src="{{ url_for("static" , filename="img/animales/animales_exoticos.jpg") }}" alt="codigo">
            <img class="col" src="{{ url_for("static" , filename="img/animales/grupo-de-animales.png") }}" alt="codigo">
            <img class="col" src="{{ url_for("static" , filename="img/animales/puercoespin.jpg") }}" alt="codigo">
        </div>
    </div>

    <h1 class="text-center bg-secondary">terrestres</h1>
    <div class="row container bg-info mx-auto p-3">
           <div class="card col" style="width: 18rem;">
        <img src="{{ url_for("static" , filename="img/animales/ardillarara.jpg") }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El cacomixtle​ (también escrito como cacomiztle​) o rintel​ (Bassariscus astutus), también conocido como basáride​ o basarisco,​ es un mamífero omnívoro de la familia Procyonidae, a la que también pertenecen los mapaches. Se distribuye desde el sur de Oregón, en Estados Unidos, hasta Oaxaca, en México. Es de tamaño mediano y tiene una larga cola anillada. Es solitario, nocturno y trepador. Se adentra en zonas urbanas, en donde es poco visto debido a sus hábitos nocturnos.</p>
        </div>
        </div>

           <div class="card col" style="width: 18rem;">
        <img src="{{ url_for("static" , filename="img/animales/cerdoraro.avif") }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El tapir malayo o asiático (Tapirus indicus) es una especie de mamífero perisodáctilo de la familia de los tapíridos. Es el único tapir que no habita en el continente americano; presente antaño en Borneo, el sur de China y buena parte de Indochina, hoy sólo habita las selvas de Sumatra y la península de Malaca hasta el sureste de Birmania.</p>
        </div>
        </div>

           <div class="card col" style="width: 18rem;">
        <img src="{{ url_for("static" , filename="img/animales/fenek.jpg") }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El fénec, feneco o zorro del desierto (Vulpes zerda) es una especie de mamífero carnívoro de la familia Canidae que habita en el desierto del Sáhara y península del Sinaí. Con sus características orejas, se trata de la especie más pequeña de su familia. Su pelaje, orejas y función renal están adaptadas a las condiciones físicas del desierto: temperaturas extremas y escasez hídrica.</p>
        </div>
        </div>
    </div>



    <h1 class="text-center bg-secondary">aereos</h1>
    <div class="row container bg-info mx-auto p-3">
           <div class="card col" style="width: 18rem;">
        <img src="{{ url_for("static" , filename="img/animales/buho4.jpg") }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El búho es el nombre común de las aves rapaces nocturnas de la familia Strigidae, dentro del orden de los estrigiformes. Se diferencian de las lechuzas porque poseen plumas levantadas que parecen orejas y suelen tener el iris de color amarillo o naranja. Sus ojos están fijos y solo miran hacia adelante, por lo que compensan esta limitación girando la cabeza hasta 270°.</p>
        </div>
        </div>

           <div class="card col" style="width: 18rem;">
        <img src="{{ url_for("static" , filename="img/animales/Casuario.jpg") }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El casuario es un género de aves no voladoras de la familia Casuariidae, con tres especies que habitan en Australia y Nueva Guinea. Son solitarias, agresivas y viven en selvas tropicales, alimentándose de frutas, hongos y pequeños animales. Se distinguen por su plumaje negro áspero, cuello azul y rojo, y un casco óseo en la cabeza que les sirve para protegerse entre la vegetación o como defensa.</p>
        </div>
        </div>

           <div class="card col" style="width: 18rem;">
        <img src="{{ url_for("static" , filename="img/animales/Loros.jpg") }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Los loros (Psittacoidea) son una superfamilia del orden Psittaciformes que incluye unas 369 especies. Son más numerosos y extendidos que otras superfamilias como las cacatúas o los loros de Nueva Zelanda, pues habitan en diversas regiones de América, África, Asia y Oceanía, desde Australia hasta la Polinesia.</p>
        </div>
        </div>
    </div>


    <h1 class="text-center bg-secondary">acuaticos</h1>
    <div class="row container bg-info mx-auto p-3">
           <div class="card col" style="width: 18rem;">
        <img src="{{ url_for("static" , filename="img/animales/dragon_acuatico.jpg") }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El Glaucilla marginata es un nudibranquio aeólido de la familia Glaucidae, descrito por primera vez en 1860 por Bergh. Se asemeja al Glaucus atlanticus, aunque es más pequeño y presenta un característico color azul eléctrico. Posee cuatro grupos de ceratas: los dos primeros son pedunculados y los dos últimos sésiles y parcialmente fusionados. A diferencia de G. atlanticus, el primer grupo de ceratas está orientado hacia la parte anterior del cuerpo y se inserta en series múltiples, mientras que en su pariente aparecen en series únicas.</p>
        </div>
        </div>

           <div class="card col" style="width: 18rem;">
        <img src="{{ url_for("static" , filename="img/animales/Leafydragon.jpg") }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El dragón de mar foliado (Phycodurus eques) es un pez marino de la familia Syngnathidae, la misma de los caballitos de mar, y el único miembro de su género. Habita en las costas sur y oeste de Australia y se distingue por sus prolongaciones en forma de hojas que le sirven de camuflaje, dándole la apariencia de un alga flotante. Su propulsión depende de pequeñas aletas pectorales y dorsales casi invisibles, que le permiten moverse suavemente. Conocido como leafy, es el emblema marino de Australia Meridional y un símbolo de la conservación marina.</p>
        </div>
        </div>

           <div class="card col" style="width: 18rem;">
        <img src="{{ url_for("static" , filename="img/animales/pulpo_dumbo.jpg") }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Grimpoteuthis, conocido como el “pulpo Dumbo”, es un género de moluscos cefalópodos de la familia Opisthoteuthidae. Reciben su nombre por las aletas que parecen orejas y sobresalen de su cuerpo, recordando al famoso elefante de Disney. Son animales bentónicos que habitan en grandes profundidades marinas, lo que los convierte en uno de los géneros de pulpos más raros. Generalmente alcanzan hasta 20 cm de tamaño y aún se sabe poco sobre sus hábitos. La especie Grimpoteuthis wuelkeri se ha encontrado entre 1600 y 2200 metros de profundidad, aunque algunas exploraciones han registrado ejemplares a más de 5000 metros bajo la superficie.</p>
        </div>
        </div>
    </div>

</div>




{%endblock%}