{% extends "base.html" %}

{% block contenido  %}

<h1 class="text-center bg-info">MENU</h1>
<div class="bg-secondary row">
    <div class="col-5">
        <H3>
        la finalidad de esta pagina web es practicar el uso de html junto con python y bootstrap, usamos plantillas e imagenes para mejorar la calidad de 
        el trabajo que se entrega
        </H3>
    </div>
    <div class="col-5">
        <img src="{{ url_for("static" , filename="img/hacerca de/codigo.jpg") }}" alt="codigo">
    </div>
</div>

{%endblock%}